<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bruger redigering</title>
<script src="jquery-3.1.1.js"></script>
<script src="jquery.serialize-object.js"></script>
<script src="useredit.js"></script>
</head>
<body>
	<DIV class="container">
		<h1>Opret bruger</h1>
		<form id="userform">
			<div>
				<label for="userId">Bruger Id: </label> <input type="text"
					name="userId" value="Auto" disabled="disabled">
			</div>
			<div>
				<label for="userName">Brugernavn</label><input type="text"
					name="userName">
			</div>
			<div>
				<label for="password">Password</label><input type="text"
					name="password">
			</div>
			<button onclick="createUser();">Gem ændringer</button>
		</form>
	</DIV>
	<!-- Users -->
	<div class="container" id="users">
	<h1>Brugere</h1>
		<table>
			<thead>
				<tr>
					<td>BrugerID</td>
					<td>BrugerNavn</td>
					<td>Kodeord</td>
					<!-- <td>Slet bruger<td> -->
				</tr>
			</thead>
			<tbody id="usertablebody">

			</tbody>
		</table>
		<hr>
		<form>
		Slet bruger med id:
		<input type="number" id="deleteid">
		<button onclick="deleteUser();">Slet bruger</button>
		</form>
	</div>

</body>
</html>